.nav-link{
    color: #A12312;
}

a:hover.nav-link{
    color: #ce6a46;
}
a:active.nav-link {
  color: #ce6a46;
}
button.btn {
    background-color: white;
    color:#A12312;
    border: 2px solid #f6b2a7;
    box-shadow: 0 0 0px;
}

button:hover.btn {
    background-color: #A12312;
    color:white;
    border: 2px solid #f6b2a7;
    box-shadow: 0 0 1px #f6b2a7,
        0 0 2px #f6b2a7,
        0 0 5px #f6b2a7,
        0 0 10px #f6b2a7;
}
button:focus.btn, .btn-check:focus+.btn-primary, .btn-primary:focus {
    background-color: #A12312;
    color:white;
    border: 0px;
    box-shadow: 0 0 1px #f6b2a7,
        0 0 2px #f6b2a7,
        0 0 5px #f6b2a7,
        0 0 10px #f6b2a7;
}
transitions style {
    box-shadow: white 0px 0px 0px 0px;
}
.form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
/* Общие стили для чекбокса */
.form-check-input {
  border: 2px solid #dc3545 !important; /* Красная рамка всегда */
  background-color: white !important; /* Белый фон по умолчанию */
  box-shadow: none !important; /* Убираем стандартную тень */
}
/* Стили для активного чекбокса */
.form-check-input:checked {
  background-color: #dc3545 !important; /* Красный фон */
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important; /* Свечение */}

.err_pet {
  color: #dc3545;
  font-size: 500%;
}

.form-select {
    background-color: white;
    border: 1px solid #dc3545 !important;
}
p{
word-wrap: break-word;
}
.form-select{
 width: 290px;
}