{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/main_page.css">
<main class="form-signin w-100 m-auto d-flex justify-content-center">
  <form action="/pets/create_card" method="POST" style="width: 500px;">
    <h1 class="h3 mb-3 fw-normal text-center">Создание объявления</h1><br>
    <div class="form-floating">
      <input {{ form.name(class="form-control border-danger", type="text", maxlength="14", required="required", id="floatingInput") }}
      <br>
      <label for="floatingInput">Имя животного</label>
    </div>
    <div class="input-group mb-3">
      <div class="form-floating">
        <input {{ form.age1(class="form-control border-danger", type="number", required="required", max="99", id="floatingInput2")}}
      <label for="floatingInput">Возраст</label>
        </div>
      <div class="form-floating">
      <select class="form-select" id="inputGroupSelect01" name="age2" required="required">
        <option selected value="3">Временной промежуток</option>
        <option value="1" name="age2">Дня(ей)</option>
        <option value="2" name="age2">Недель(и)</option>
        <option value="3" name="age2">Месяца(ев)</option>
        <option value="4" name="age2">Лет(года)</option>
      </select>
         </div>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="мужской"
             autocomplete="мужской" required="required">
      <label class="form-check-label" for="inlineRadio1">Мужской пол</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="женский"
             autocomplete="женский" required="required">
      <label class="form-check-label" for="inlineRadio2">Женский пол</label>
    </div>
    <br>
    <br>
    <div class="form-floating">
      <input {{ form.vaccinations(class="form-control border-danger", type="text", required="required", maxlength="500", id="floatingInput3") }}
      <label for="floatingInput">Прививки</label><br>
    </div>
    <div class="form-floating">
      <input {{ form.diseases(class="form-control border-danger", type="text", required="required", maxlength="500", id="floatingInput4") }}
      <label for="floatingInput">Врожденные болезни</label><br>
    </div>
    <div class="form-floating">
      <input {{ form.about(class="form-control border-danger", type="text", required="required", maxlength="1000", id="floatingInput5") }}
      <label for="floatingInput">Описание</label><br>
    </div>
    <h3>Добавить фото животного</h3>
     <div class="form-floating">
      <input type="file" class="form-control-file" id="photo" name="file" accept="image/png, image/jpeg, image/jpg"
      placeholder="Добавить фото животного">
    </div><br>
    <button class="btn btn-danger w-100 py-2" type="submit">Отправить</button>
  </form>
</main>
<script defer src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>

{% endblock %}