{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/main_page.css">


<div class="row">
    <div class="w-50 mx-auto">
<form action="" method="POST" style="width: 500px;">

  <h2 class="text-center">Вы желаете удалить объявление?</h2>
    <div class="container text-center">
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-sm btn-outline-danger" name="yes">Да</button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-sm btn-outline-danger" onclick="location.href='/pets'" name="no">Нет</button>
    </div>
  </div>
</div>
  </form>
        </div>
</div>
{% endblock %}