{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="w-50 mx-auto">
        <div class="hstack gap-3">
  <div class="p-2">
      <button type="button" class="btn btn-sm btn-outline-danger" onclick="goBack()">Назад</button>
      <script>
      function goBack()
      {window.history.back();}
      </script>
  </div>
  <div class="p-2 ms-auto">
      <h3>Пользователь: {{ user_id }}</h3>
  </div>
</div>
      <h2 class="title title--secondary pet-details__title">Имя: {{ name }}; Возраст: {{age}}</h2>
        <p>Пол: {{gender}}</p>
        <p>Возраст: {{age}}</p>
        <h3>Описание</h3>
        <p>{{about}}</p>
        <div class="vstack gap-3 overflow-y-hidden">
         <dl class="row">
              <dt class="col-sm-3">Врожденные болезни</dt>
                <dd class="col-sm-9">
                    <p><span>{{diseases}}</span></p>
                </dd>

              <dt class="col-sm-3">Прививки</dt>
              <dd class="col-sm-9">
                  <p><span>{{vaccinations}}</span></p>
              </dd>
             {% if user_now %}
             <br><br><br><br>
             <dt class="col-sm-3">Номер телефона</dt>
             <dd class="col-sm-9">
                 {% if phone %}
                 <p><span>{{phone}}</span></p>
                 {% else %}
                  <p><span>Данные отсутствуют</span></p>
                 {% endif %}
              </dd>
             <dt class="col-sm-3">Почта</dt>
             <dd class="col-sm-9">
                 {% if email %}
                 <p><span>{{email}}</span></p>
                 {% else %}
                  <p><span>Данные отсутствуют</span></p>
                 {% endif %}
              </dd>
             {% else %}
             <p>Чтобы узнать контактные данные, войдите в аккаунт</p>
             {% endif %}
            </dl>
        </div>


    </div>
</div>
{% endblock %}