{% extends "base.html" %}

{% block content %}
<style>
h2 {margin-left: 120px}
a {font-size: 18px}
</style>
<link rel="stylesheet" href="/static/css/main_page.css">
<div>
<h2>Личный кабинет</h2><br>
<div class="container text-center">
  <div class="row">
    <div class="col">
        <a>Ваша почта:</a><br>
        <ul>
        <li><a><em> {{ user.email }} </em></a>
        </ul>
    </div>
    <div class="col">
        <a>Ваш логин</a><br>
        <ul>
        <li><a><em> {{ user.login }} </em></a>
        </ul>
    </div>
    <div class="col">
        <a>Ваш номер телефона</a><br>
        <ul>
            {% if user.phone != None %}
        <li><a><em> {{ user.phone }}</em></a>
            {% else %}
        <li><a><em>Не привязан</em></a>
            {%endif%}
            </ul>
    </div>
  </div>
</div>
</div>

<div class="album py-5 bg-body-tertiary">
    <figure class="text-center">
    <h2>Ваши объявления</h2>
</figure>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for card in cards %}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c">
                  </rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Картинка не найдена</text>
                </svg>
                <div class="card-body">
                  <h4>{{ card['name'] }}, {{ card['age'] }}</h4>
                  <p>Пол: {{ card['gender'] }}</p>
                  <p class="card-text">{{ card['about'] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='/pets/{{ card['id'] }}'">Открыть</button>
                         <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='/pets/{{ card['id'] }}'">Изменить</button>
                         <button type="button" class="btn btn-sm btn-outline-danger" onclick="location.href='/pets/{{ card['id'] }}'">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>

    </div>

    <br>
    {% if total_pages < 1> %}
  <div class="d-flex justify-content-center align-items-center">
    <nav aria-label="...">
          <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
            <a href="/profile?page={{ page - 1 }}" class="page-link">Previous</a>
            </li>
            {% endif %}
            <li class="page-item active">
              <a class="page-link" href="/profile?page={{ page }}" >{{ page }}</a>
            </li>
            {% if page < total_pages %}
            <li class="page-item">
              <a class="page-link" href="/profile?page={{ page + 1 }}">Next</a>
            </li>
            {% endif %}
          </ul>
      </nav>
    </div>
    {% else %}
    <figure class="text-center">
        <h3>Вы не размещали объявлений</h3>
    </figure>
    {% endif %}
  </div>
{% endblock %}